.error-msg{
    color: red;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
}

.laptop-image{
    width: 600px;
    margin-top: 10%;
}
.requirements{
    color: red;
}
.req-line-font{
    font-family: "Roboto";
    font-weight: 900;
}